In [1]:
import sqlalchemy
import psycopg2
import pandas as pd

In [2]:
'''
The string form of the URL is
``dialect[+driver]://user:password@host/dbname[?key=value..]``, where
``dialect`` is a database name such as ``mysql``, ``oracle``,
``postgresql``, etc., and ``driver`` the name of a DBAPI, such as
``psycopg2``, ``pyodbc``, ``cx_oracle``, etc.  Alternatively,
the URL can be an instance of :class:`~sqlalchemy.engine.url.URL`.
'''

conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

In [3]:
engine = sqlalchemy.create_engine(conn,  echo=True)

In [4]:
with engine.connect() as connection:
    result = connection.execute('select * from course_purchases')

2020-10-11 14:34:25,072 INFO sqlalchemy.engine.base.Engine select version()
2020-10-11 14:34:25,074 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 14:34:25,174 INFO sqlalchemy.engine.base.Engine select current_schema()
2020-10-11 14:34:25,176 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 14:34:25,276 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-11 14:34:25,278 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 14:34:25,329 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-11 14:34:25,331 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 14:34:25,380 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2020-10-11 14:34:25,382 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 14:34:25,480 INFO sqlalchemy.engine.base.Engine select * from course_purchases
2020-10-11 14:34:25,480 INFO sqlalchemy.engine.base.Engine {}

In [5]:
type(result)

sqlalchemy.engine.result.ResultProxy

In [6]:
result.rowcount

154

In [7]:
for _ in range(5):
    row = result.next()
    print(row['purchase_place'])

purchase_place
Екатеринбург
Курганинск
Владивосток
Владивосток

In [65]:
metadata = sqlalchemy.MetaData(bind=engine)

In [11]:
course_purchases = sqlalchemy.Table('course_purchases', metadata,
    sqlalchemy.Column('user_id', sqlalchemy.String),
    sqlalchemy.Column('course_id', sqlalchemy.String),
    sqlalchemy.Column('purchase_date', sqlalchemy.Date),
    sqlalchemy.Column('purchase_place', sqlalchemy.String),
    )

In [15]:
s = sqlalchemy.select([course_purchases])
print(s)

with engine.connect() as connection:
    result = connection.execute(s)

for _ in range(5):
    row = result.next()
    print(row['purchase_place'])

SELECT course_purchases.user_id, course_purchases.course_id, course_purchases.purchase_date, course_purchases.purchase_place
FROM course_purchases
2020-10-11 14:47:02,108 INFO sqlalchemy.engine.base.Engine SELECT course_purchases.user_id, course_purchases.course_id, course_purchases.purchase_date, course_purchases.purchase_place
FROM course_purchases
2020-10-11 14:47:02,109 INFO sqlalchemy.engine.base.Engine {}
purchase_place
Екатеринбург
Курганинск
Владивосток
Владивосток

In [63]:
metadata.sorted_tables

[Table('course_purchases', MetaData(bind=None), Column('user_id', String(), table=<course_purchases>), Column('course_id', String(), table=<course_purchases>), Column('purchase_date', Date(), table=<course_purchases>), Column('purchase_place', String(), table=<course_purchases>), schema=None)]

In [30]:
inspector = sqlalchemy.inspect(engine)

In [51]:
inspector.get_table_names()

2020-10-11 15:04:27,978 INFO sqlalchemy.engine.base.Engine SELECT c.relname FROM pg_class c JOIN pg_namespace n ON n.oid = c.relnamespace WHERE n.nspname = %(schema)s AND c.relkind in ('r', 'p')
2020-10-11 15:04:27,979 INFO sqlalchemy.engine.base.Engine {'schema': 'public'}

['keywords', 'links', 'ratings', 'exploratory', 'course_purchases', 'joi']

In [66]:
joi = sqlalchemy.Table('joi', metadata, autoload=True)

s = sqlalchemy.select([joi])
print(s)

with engine.connect() as connection:
    result = connection.execute(s)

for _ in range(5):
    row = result.next()
    print(row)

2020-10-11 15:19:16,999 INFO sqlalchemy.engine.base.Engine
            SELECT c.oid
            FROM pg_catalog.pg_class c
            LEFT JOIN pg_catalog.pg_namespace n ON n.oid = c.relnamespace
            WHERE (pg_catalog.pg_table_is_visible(c.oid))
            AND c.relname = %(table_name)s AND c.relkind in
            ('r', 'v', 'm', 'f', 'p')

2020-10-11 15:19:17,000 INFO sqlalchemy.engine.base.Engine {'table_name': 'joi'}
2020-10-11 15:19:17,098 INFO sqlalchemy.engine.base.Engine
            SELECT a.attname,
              pg_catalog.format_type(a.atttypid, a.atttypmod),
              (SELECT pg_catalog.pg_get_expr(d.adbin, d.adrelid)
                FROM pg_catalog.pg_attrdef d
               WHERE d.adrelid = a.attrelid AND d.adnum = a.attnum
               AND a.atthasdef)
              AS DEFAULT,
              a.attnotnull, a.attnum, a.attrelid as table_oid,
              pgd.description as comment,
              NULL as generated
            FROM pg_catalog.pg_attribute a
            LEFT JOIN pg_catalog.pg_description pgd ON (
                pgd.objoid = a.attrelid AND pgd.objsubid = a.attnum)
            WHERE a.attrelid = %(table_oid)s
            AND a.attnum > 0 AND NOT a.attisdropped
            ORDER BY a.attnum

2020-10-11 15:19:17,100 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,151 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               pg_catalog.format_type(t.typbasetype, t.typtypmod) as "attype",
               not t.typnotnull as "nullable",
               t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema"
            FROM pg_catalog.pg_type t
               LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
            WHERE t.typtype = 'd'

2020-10-11 15:19:17,153 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 15:19:17,204 INFO sqlalchemy.engine.base.Engine
            SELECT t.typname as "name",
               -- no enum defaults in 8.4 at least
               -- t.typdefault as "default",
               pg_catalog.pg_type_is_visible(t.oid) as "visible",
               n.nspname as "schema",
               e.enumlabel as "label"
            FROM pg_catalog.pg_type t
                 LEFT JOIN pg_catalog.pg_namespace n ON n.oid = t.typnamespace
                 LEFT JOIN pg_catalog.pg_enum e ON t.oid = e.enumtypid
            WHERE t.typtype = 'e'
        ORDER BY "schema", "name", e.oid
2020-10-11 15:19:17,205 INFO sqlalchemy.engine.base.Engine {}
2020-10-11 15:19:17,256 INFO sqlalchemy.engine.base.Engine
                SELECT a.attname
                FROM pg_attribute a JOIN (
                    SELECT unnest(ix.indkey) attnum,
                           generate_subscripts(ix.indkey, 1) ord
                    FROM pg_index ix
                    WHERE ix.indrelid = %(table_oid)s AND ix.indisprimary
                    ) k ON a.attnum=k.attnum
                WHERE a.attrelid = %(table_oid)s
                ORDER BY k.ord

2020-10-11 15:19:17,258 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,336 INFO sqlalchemy.engine.base.Engine
        SELECT conname
           FROM  pg_catalog.pg_constraint r
           WHERE r.conrelid = %(table_oid)s AND r.contype = 'p'
           ORDER BY 1

2020-10-11 15:19:17,337 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,390 INFO sqlalchemy.engine.base.Engine
          SELECT r.conname,
                pg_catalog.pg_get_constraintdef(r.oid, true) as condef,
                n.nspname as conschema
          FROM  pg_catalog.pg_constraint r,
                pg_namespace n,
                pg_class c

          WHERE r.conrelid = %(table)s AND
                r.contype = 'f' AND
                c.oid = confrelid AND
                n.oid = c.relnamespace
          ORDER BY 1

2020-10-11 15:19:17,391 INFO sqlalchemy.engine.base.Engine {'table': 34330}
2020-10-11 15:19:17,442 INFO sqlalchemy.engine.base.Engine
              SELECT
                  i.relname as relname,
                  ix.indisunique, ix.indexprs, ix.indpred,
                  a.attname, a.attnum, c.conrelid, ix.indkey::varchar,
                  ix.indoption::varchar, i.reloptions, am.amname,
                  NULL as indnkeyatts
              FROM
                  pg_class t
                        join pg_index ix on t.oid = ix.indrelid
                        join pg_class i on i.oid = ix.indexrelid
                        left outer join
                            pg_attribute a
                            on t.oid = a.attrelid and a.attnum = ANY(ix.indkey)
                        left outer join
                            pg_constraint c
                            on (ix.indrelid = c.conrelid and
                                ix.indexrelid = c.conindid and
                                c.contype in ('p', 'u', 'x'))
                        left outer join
                            pg_am am
                            on i.relam = am.oid
              WHERE
                  t.relkind IN ('r', 'v', 'f', 'm', 'p')
                  and t.oid = %(table_oid)s
                  and ix.indisprimary = 'f'
              ORDER BY
                  t.relname,
                  i.relname

2020-10-11 15:19:17,444 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,496 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                cons.conkey as key,
                a.attnum as col_num,
                a.attname as col_name
            FROM
                pg_catalog.pg_constraint cons
                join pg_attribute a
                  on cons.conrelid = a.attrelid AND
                    a.attnum = ANY(cons.conkey)
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'u'

2020-10-11 15:19:17,497 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,548 INFO sqlalchemy.engine.base.Engine
            SELECT
                cons.conname as name,
                pg_get_constraintdef(cons.oid) as src
            FROM
                pg_catalog.pg_constraint cons
            WHERE
                cons.conrelid = %(table_oid)s AND
                cons.contype = 'c'

2020-10-11 15:19:17,549 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
2020-10-11 15:19:17,599 INFO sqlalchemy.engine.base.Engine
            SELECT
                pgd.description as table_comment
            FROM
                pg_catalog.pg_description pgd
            WHERE
                pgd.objsubid = 0 AND
                pgd.objoid = %(table_oid)s

2020-10-11 15:19:17,600 INFO sqlalchemy.engine.base.Engine {'table_oid': 34330}
SELECT joi.movieid, joi.rating
FROM joi
2020-10-11 15:19:17,702 INFO sqlalchemy.engine.base.Engine SELECT joi.movieid, joi.rating
FROM joi
2020-10-11 15:19:17,703 INFO sqlalchemy.engine.base.Engine {}
(59784, 0.5)
(59784, 0.5)
(60684, 0.5)
(60684, 0.5)
(63082, 2.0)

In [67]:
# загрузка результата запроса в датасет 
pd.DataFrame(result)

             0    1
0        63082  2.0
1        68157  2.0
2        68157  2.0
3        68358  3.0
4        68358  3.0
...        ...  ...
3111094  56757  3.5
3111095  58559  3.5
3111096  58559  3.5
3111097  59315  0.5
3111098  59315  0.5

[3111099 rows x 2 columns]

In [147]:
# запрос к базе данных
s = sqlalchemy.select([joi.c.rating.distinct()]).where(
    joi.c.rating.between(0, 3)
    & (
        (joi.c.movieid == None) |
        (joi.c.movieid > 60000)
    )
)

with engine.connect() as connection:
    result = connection.execute(s)
# print(result.fetchone())

2020-10-11 23:02:36,415 INFO sqlalchemy.engine.base.Engine SELECT DISTINCT joi.rating
FROM joi
WHERE joi.rating BETWEEN %(rating_1)s AND %(rating_2)s AND (joi.movieid IS NULL OR joi.movieid > %(movieid_1)s)
2020-10-11 23:02:36,416 INFO sqlalchemy.engine.base.Engine {'rating_1': 0, 'rating_2': 3, 'movieid_1': 60000}

In [142]:
print(result.rowcount)
pd.DataFrame(result, columns=result.keys())

6

   rating
0     3.0
1     1.0
2     0.5
3     1.5
4     2.5
5     2.0

In [125]:
sqlalchemy.sql.between()

Empty DataFrame
Columns: [movieid, rating]
Index: []

course_purchases JOIN joi ON joi.rating = course_purchases.user_id